Django==5.2.13
gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url==2.3.0
python-dotenv==1.0.1
psycopg2-binary==2.9.10
requests==2.32.3
cloudinary==1.41.0
django-cloudinary-storage==0.3.0
django-ratelimit==4.1.0
